input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    border: 1px solid #1E3A8A;
    outline: none;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

h2 {
    color: #1E3A8A;
    margin-bottom: 20px;
}

span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.container {
    max-width: 350px;
    margin: 100px auto;
    text-align: center;
    font-family: Arial,sans-serif;
    background-color: #f0f8ff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 255, 0.1)
}