.header-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: linear-gradient(90deg, #ffffff, #f8f9ff);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logp-header {}

.logo {
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    color: #4f46e5;
    letter-spacing: 1px;
}

.avatar-wrapper {
    position: relative;
    cursor: pointer;
}

.avatar-circle {
    font-size: 32px;
    color: #e5e7eb;
}

.input-search-header {
    flex: 1;
    max-width: 33%;
    width: 70%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    background: #f3f4f6;
    border-radius: 30px;
    padding: 6px 14px;
    transition: all 0.3s ease;
}

.input-search-header:focus-within {
    background: #ffffff;
    box-shadow: 0 0 0 2px #6366f1;
}

.input-search-header input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    padding: 6px;
}


.avatar-initials {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 12px;
    color: #111827;
}

.dropdown {
    position: absolute;
    right: 20px;
    top: 60px;

    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

    padding: 10px 0;
    min-width: 160px;
    animation: fadeIn 0.2s ease;
}

.dropdown div {
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.dropdown div:hover {
    background: #f3f4f6;
}

.address span {
    font-size: 12px;
    color: #6b7280;
    right: 0px !important;
    position: relative;
}

.address {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.delivery-type {
    font-size: 12px;
    color: #6b7280;
    right: 0px !important;
}

.delivery-location {
    font-size: 15px;
    font-weight: 600;
    color: #111827;
}